pre.js-hl.calm-theme {
  background-color: #222; }
  pre.js-hl.calm-theme .js-hl__line-text {
    color: #eee; }
    pre.js-hl.calm-theme .js-hl__line-text .comment {
      color: #777; }
    pre.js-hl.calm-theme .js-hl__line-text .string {
      color: #a98; }
    pre.js-hl.calm-theme .js-hl__line-text .re {
      color: #78a; }
    pre.js-hl.calm-theme .js-hl__line-text .slashed {
      color: #f90; }
    pre.js-hl.calm-theme .js-hl__line-text .keyword {
      color: #78a; }
    pre.js-hl.calm-theme .js-hl__line-text .string_tag {
      color: #ddc; }
    pre.js-hl.calm-theme .js-hl__line-text .word {
      color: #ddc; }
    pre.js-hl.calm-theme .js-hl__line-text .operator {
      color: #78a; }
    pre.js-hl.calm-theme .js-hl__line-text .punctuation {
      color: #eee; }
    pre.js-hl.calm-theme .js-hl__line-text .number {
      color: #f90; }
    pre.js-hl.calm-theme .js-hl__line-text .bool {
      color: #f90; }
    pre.js-hl.calm-theme .js-hl__line-text .sp_const {
      color: #f90; }
    pre.js-hl.calm-theme .js-hl__line-text .paren {
      color: #ddc; }
    pre.js-hl.calm-theme .js-hl__line-text .curly {
      color: #ddc; }
    pre.js-hl.calm-theme .js-hl__line-text .bracket {
      color: #ddc; }
    pre.js-hl.calm-theme .js-hl__line-text .f_name {
      color: #eee;
      font-weight: bold; }

pre.js-hl.calm-clarified-theme .js-hl__line .js-hl__line-number {
  background-color: #444; }

pre.js-hl.calm-clarified-theme .js-hl__line-text {
  color: #eee; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .comment {
    color: #777; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .string {
    color: #b98; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .re {
    color: #78a; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .slashed {
    color: #fb6; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .keyword {
    color: #78a; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .string_tag {
    color: #ddc; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .word {
    color: #ddc; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .operator {
    color: #78a; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .punctuation {
    color: #eee; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .number {
    color: #fb6; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .bool {
    color: #fb6; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .sp_const {
    color: #fb6; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .paren {
    color: #ddc; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .curly {
    color: #ddc; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .bracket {
    color: #ddc; }
  pre.js-hl.calm-clarified-theme .js-hl__line-text .f_name {
    color: #eee;
    font-weight: bold; }

pre.js-hl.monokai-theme {
  background-color: #333; }
  pre.js-hl.monokai-theme .js-hl__line-text .comment {
    color: #888; }
  pre.js-hl.monokai-theme .js-hl__line-text .string {
    color: #da5; }
  pre.js-hl.monokai-theme .js-hl__line-text .re {
    color: #da5; }
  pre.js-hl.monokai-theme .js-hl__line-text .slashed {
    color: #98f; }
  pre.js-hl.monokai-theme .js-hl__line-text .keyword {
    color: #e48; }
  pre.js-hl.monokai-theme .js-hl__line-text .string_tag {
    color: #eee; }
  pre.js-hl.monokai-theme .js-hl__line-text .word {
    color: #eee; }
  pre.js-hl.monokai-theme .js-hl__line-text .operator {
    color: #e48; }
  pre.js-hl.monokai-theme .js-hl__line-text .punctuation {
    color: #eee; }
  pre.js-hl.monokai-theme .js-hl__line-text .number {
    color: #98f; }
  pre.js-hl.monokai-theme .js-hl__line-text .bool {
    color: #98f; }
  pre.js-hl.monokai-theme .js-hl__line-text .sp_const {
    color: #98f; }
  pre.js-hl.monokai-theme .js-hl__line-text .paren {
    color: #eee; }
  pre.js-hl.monokai-theme .js-hl__line-text .curly {
    color: #eee; }
  pre.js-hl.monokai-theme .js-hl__line-text .bracket {
    color: #eee; }
  pre.js-hl.monokai-theme .js-hl__line-text .f_name {
    color: #3bd; }

pre.js-hl.monokai-clarified-theme {
  background-color: #444; }
  pre.js-hl.monokai-clarified-theme .js-hl__line .js-hl__line-number {
    background-color: #444; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .comment {
    color: #888; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .string {
    color: #da5; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .re {
    color: #da5; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .slashed {
    color: #98f; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .keyword {
    color: #e48; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .string_tag {
    color: #eee; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .word {
    color: #eee; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .operator {
    color: #e48; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .punctuation {
    color: #eee; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .number {
    color: #98f; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .bool {
    color: #98f; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .sp_const {
    color: #98f; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .paren {
    color: #eee; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .curly {
    color: #eee; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .bracket {
    color: #eee; }
  pre.js-hl.monokai-clarified-theme .js-hl__line-text .f_name {
    color: #3bd; }

pre.js-hl.t1-theme .js-hl__line-text .comment {
  color: #777; }

pre.js-hl.t1-theme .js-hl__line-text .string {
  color: #da5; }

pre.js-hl.t1-theme .js-hl__line-text .re {
  color: #da5; }

pre.js-hl.t1-theme .js-hl__line-text .slashed {
  color: #98f; }

pre.js-hl.t1-theme .js-hl__line-text .keyword {
  color: #e48; }

pre.js-hl.t1-theme .js-hl__line-text .string_tag {
  color: #eee; }

pre.js-hl.t1-theme .js-hl__line-text .word {
  color: #eee; }

pre.js-hl.t1-theme .js-hl__line-text .operator {
  color: #3db; }

pre.js-hl.t1-theme .js-hl__line-text .punctuation {
  color: #3db; }

pre.js-hl.t1-theme .js-hl__line-text .number {
  color: #98f; }

pre.js-hl.t1-theme .js-hl__line-text .bool {
  color: #98f; }

pre.js-hl.t1-theme .js-hl__line-text .sp_const {
  color: #98f; }

pre.js-hl.t1-theme .js-hl__line-text .paren {
  color: #3db; }

pre.js-hl.t1-theme .js-hl__line-text .curly {
  color: #3db; }

pre.js-hl.t1-theme .js-hl__line-text .bracket {
  color: #3db; }

pre.js-hl.t1-theme .js-hl__line-text .f_name {
  color: #3bd; }

/*# sourceMappingURL=themes.css.map */